### Concepts

1. variables and data types
2. conditionals and string methods
3. list and list methods
4. slicing and indexing
5. loops (forloops, while loops)
6. list comprehension and matrixes
7. Reading writing of files and Functions
8. Dictionaries
9. classes and objects
10. Time and complexity analysis
11. Introduction to Series and DataFrames
12. Python Data manipulation libraries (Pandas and numpy)
13. Reading data in python (csv, xlxs, json, txt)
14. Data wrangling in python and data joining (concat, merge, append)
15. Exploratory data analysis in python and Statistical concepts
16. Answering business questions with python
17. Data visualization (Seaborn and matplotlib)
18. Data reporting

Bonus
19. Introduction to business modelling using regressiona and time series forecasting.
20. introduction to machine learning using supervised and unsupervised algorithm.
21. Data strategy, data product managment and Data governance

#### Day one

In [9]:
print("hello")
print("123" + "5")

hello
1235

In [13]:
a = 345.5
type(a)

float

In [16]:
a = "toyin"
b = 19
###format string methods
print(f"{a} is {b} years")

toyin is 19 years

In [19]:
x = input("enter name: ")
y = input("enter a number: ")
print(f"{x} is {y} years old")

enter name: john
enter a number: 16
john is 16 years old

In [22]:
a = float(input("enter number 1: "))
b = float(input("enter a number 2: "))
print(f" the sum of a and b is {a+b}")

enter number 1: 20
enter a number 2: 15
 the sum of a and b is 35.0

In [24]:
name = input("enter your name: ")
year_birth = int(input("enter your year of birth: "))
print(f"{name} is {2022-year_birth} years old")

enter your name: shade
enter your year of birth: 1997
shade is 25 years old

In [29]:
get_me = input('enter message: ').lower()
if get_me == "tomatoes":
    print("buy")
elif get_me == "lemon":
    print("buy")
elif get_me == "bread":
    print("buy")
else:
    print("coundnt find any")

enter message: LEmon
buy

c = 5/9 * (f + 32)
f = 9/5 * (c - 32)

In [35]:
temp_value = float(input("enter temperature input value: "))
unit = input("enter unit f/c: ").lower()
if unit == "f":
    celcuis = round(5/9 * (temp_value + 32), 3)
    print(f"the temperature value from {temp_value}{unit} is {celcuis}celcuis")

elif unit == "c":
    fahr = round(9/5 * (temp_value - 32), 3)
    print(f"the temperature value from {temp_value}{unit} is {fahr}fahrenheit")

else:
    print("input not understood!!!!")

enter temperature input value: 22
enter unit f/c: C
the temperature value from 22.0c is -18.0fahrenheit

In [44]:
value = "james"
#a.index("m")

In [55]:
value = "cynthia"
sub_string = input('enter sub string values: ')
k = value.index(sub_string)
right_values = value[k+1: ]
print(right_values)

enter sub string values: h
ia

In [53]:
a = "cool"
a[1:]

'ool'

In [1]:
#assignment
n = "tobechukwuigia"
n.index("u")

6

### List and string manipulation

In [10]:
h = "jakeson/abiba"
h[0]

'j'

In [13]:
k = ["tope adamu", "kate milla", "femi ore"]
k[0]

'tope adamu'

In [15]:
k[0].split()

['tope', 'adamu']

In [12]:
h.split("/")

['jakeson', 'abiba']

In [22]:
phone_number = "+236-81-765-91915"
b = phone_number.split("-")
d = "#".join(b)
print(d)

+236#81#765#91915

In [ ]:
###split method is a string
### join method is an array or list method

In [24]:
for i in range(0, 10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
a = [10 , 15, 21, 30, 6]
for i in a:
    print(i)

10
15
21
30
6

In [27]:
k

['tope adamu', 'kate milla', 'femi ore']

In [35]:
k[0].split()

['tope', 'adamu']

In [51]:
for n in k:
    print(type(n))

<class 'str'>
<class 'str'>
<class 'str'>

In [32]:
type(k)

list

In [50]:
first_name = []
second_name = []
for n in k:
    b = n.split()[0][0].upper() + n.split()[0][1:]
    d = n.split()[1][0].upper() + n.split()[1][1:]
    first_name.append(b)
    second_name.append(d)
print(first_name)
print(second_name)

['Tope', 'Kate', 'Femi']
['Adamu', 'Milla', 'Ore']

In [48]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
array_list.append(t)
print(array_list)

[1, 5, 10, ['lem', 'fin', 'tan']]

In [49]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
for i in t:
    array_list.append(i)
print(array_list)

[1, 5, 10, 'lem', 'fin', 'tan']

In [29]:
# for d in h:
#     print(d)

In [54]:
array_number = [10, 15, 21, 39, 8]
add_me = 0

for i in array_number:
    add_me = i + add_me
print(add_me)

93

In [56]:
a = False
print(type(a))

<class 'bool'>

In [59]:
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == str:
        print(i)

meka
owen

In [60]:
a = [i for i in range(1,39)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]